In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder





data = pd.read_csv("C:\\Users\ENOCH\OneDrive\Documents\Project files\corona_tested_individuals_ver_006.english.csv",
                   low_memory=False)


print("Dataset length::", len(data))
print("Dataset shape::", data.shape)
print(data)

Dataset length:: 278848
Dataset shape:: (278848, 10)
         test_date cough fever sore_throat shortness_of_breath head_ache  \
0       30/04/2020     0     0           0                   0         0
1       30/04/2020     1     0           0                   0         0
2       30/04/2020     0     1           0                   0         0
3       30/04/2020     1     0           0                   0         0
4       30/04/2020     1     0           0                   0         0
...            ...   ...   ...         ...                 ...       ...
278843  11/03/2020     0     0           0                   0         0
278844  11/03/2020     0     0           0                   0         0
278845  11/03/2020     0     0           0                   0         0
278846  11/03/2020     0     0           0                   0         0
278847  11/03/2020     0     0           0                   0         0

       corona_result age_60_and_above  gender         test_indication
0           negative             None  female                   Other
1           negative             None  female                   Other
2           negative             None    male                   Other
3           negative             None  female                   Other
4           negative             None    male                   Other
...              ...              ...     ...                     ...
278843      negative             None    None                   Other
278844      negative             None    None                   Other
278845      positive             None    None  Contact with confirmed
278846         other             None    None                   Other
278847      negative             None    None                   Other

[278848 rows x 10 columns]

In [3]:
print("Dataset:: ")
data.head()

Dataset::

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,30/04/2020,0,0,0,0,0,negative,None,female,Other
1,30/04/2020,1,0,0,0,0,negative,None,female,Other
2,30/04/2020,0,1,0,0,0,negative,None,male,Other
3,30/04/2020,1,0,0,0,0,negative,None,female,Other
4,30/04/2020,1,0,0,0,0,negative,None,male,Other

In [5]:
data.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,30/04/2020,0,0,0,0,0,negative,None,female,Other
1,30/04/2020,1,0,0,0,0,negative,None,female,Other
2,30/04/2020,0,1,0,0,0,negative,None,male,Other
3,30/04/2020,1,0,0,0,0,negative,None,female,Other
4,30/04/2020,1,0,0,0,0,negative,None,male,Other

In [4]:
data.shape

(278848, 10)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278848 entries, 0 to 278847
Data columns (total 10 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   test_date            278848 non-null  object
 1   cough                278848 non-null  object
 2   fever                278848 non-null  object
 3   sore_throat          278848 non-null  object
 4   shortness_of_breath  278848 non-null  object
 5   head_ache            278848 non-null  object
 6   corona_result        278848 non-null  object
 7   age_60_and_above     278848 non-null  object
 8   gender               278848 non-null  object
 9   test_indication      278848 non-null  object
dtypes: object(10)
memory usage: 21.3+ MB

In [6]:
data

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,30/04/2020,0,0,0,0,0,negative,None,female,Other
1,30/04/2020,1,0,0,0,0,negative,None,female,Other
2,30/04/2020,0,1,0,0,0,negative,None,male,Other
3,30/04/2020,1,0,0,0,0,negative,None,female,Other
4,30/04/2020,1,0,0,0,0,negative,None,male,Other
...,...,...,...,...,...,...,...,...,...,...
278843,11/03/2020,0,0,0,0,0,negative,None,None,Other
278844,11/03/2020,0,0,0,0,0,negative,None,None,Other
278845,11/03/2020,0,0,0,0,0,positive,None,None,Contact with confirmed
278846,11/03/2020,0,0,0,0,0,other,None,None,Other
278847,11/03/2020,0,0,0,0,0,negative,None,None,Other

In [7]:
data_cat= data.select_dtypes(object)
data_cat

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,30/04/2020,0,0,0,0,0,negative,None,female,Other
1,30/04/2020,1,0,0,0,0,negative,None,female,Other
2,30/04/2020,0,1,0,0,0,negative,None,male,Other
3,30/04/2020,1,0,0,0,0,negative,None,female,Other
4,30/04/2020,1,0,0,0,0,negative,None,male,Other
...,...,...,...,...,...,...,...,...,...,...
278843,11/03/2020,0,0,0,0,0,negative,None,None,Other
278844,11/03/2020,0,0,0,0,0,negative,None,None,Other
278845,11/03/2020,0,0,0,0,0,positive,None,None,Contact with confirmed
278846,11/03/2020,0,0,0,0,0,other,None,None,Other
278847,11/03/2020,0,0,0,0,0,negative,None,None,Other

In [8]:
data_num= data.select_dtypes("int64")
data_num

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[278848 rows x 0 columns]

In [10]:
x=data[['test_date','cough','fever','sore_throat','shortness_of_breath','head_ache','age_60_and_above','gender','test_indication']].values

In [11]:
x

array([['30/04/2020', 0, 0, ..., 'None', 'female', 'Other'],
       ['30/04/2020', 1, 0, ..., 'None', 'female', 'Other'],
       ['30/04/2020', 0, 1, ..., 'None', 'male', 'Other'],
       ...,
       ['11/03/2020', '0', '0', ..., 'None', 'None',
        'Contact with confirmed'],
       ['11/03/2020', '0', '0', ..., 'None', 'None', 'Other'],
       ['11/03/2020', '0', '0', ..., 'None', 'None', 'Other']],
      dtype=object)

In [12]:
y = data[['corona_result']].values

In [14]:
y

array([['negative'],
       ['negative'],
       ['negative'],
       ...,
       ['positive'],
       ['other'],
       ['negative']], dtype=object)

In [32]:
x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.4, random_state=0)

In [34]:
x_train

array([['02/04/2020', '0', '0', ..., 'Yes', 'male', 'Other'],
       ['19/04/2020', 0, 0, ..., 'None', 'male', 'Other'],
       ['28/04/2020', 0, 0, ..., 'None', 'male', 'Other'],
       ...,
       ['15/04/2020', 0, 0, ..., 'None', 'female', 'Other'],
       ['10/04/2020', '0', '0', ..., 'No', 'male', 'Other'],
       ['15/04/2020', 0, 0, ..., 'None', 'male', 'Other']], dtype=object)

In [45]:
y_train

array([['negative'],
       ['negative'],
       ['negative'],
       ...,
       ['negative'],
       ['negative'],
       ['negative']], dtype=object)

In [44]:
x_test

array([['29/03/2020', '0', '0', ..., 'No', 'female', 'Other'],
       ['04/04/2020', '0', '0', ..., 'No', 'female', 'Other'],
       ['30/03/2020', '0', '0', ..., 'No', 'male', 'Other'],
       ...,
       ['25/03/2020', '0', '0', ..., 'No', 'male', 'Other'],
       ['01/04/2020', '0', '0', ..., 'Yes', 'female', 'Other'],
       ['28/03/2020', '0', '0', ..., 'No', 'male',
        'Contact with confirmed']], dtype=object)

In [38]:
y_test

array([['negative'],
       ['negative'],
       ['negative'],
       ...,
       ['negative'],
       ['negative'],
       ['positive']], dtype=object)

In [1]:
import pandas as pd

# Assuming 'column_name' is the name of the column you want to convert
x_train['sore_throat.column'] = x_train['sorethroat.'].astype('category').cat.codes

NameError: name 'x_train' is not defined

In [59]:
from sklearn.preprocessing import StandardScaler
sc_x=StandardScaler()
x_train = sc_x.fit_transform(x_train)

ValueError: could not convert string to float: '02/04/2020'

In [51]:
le= LabelEncoder()

In [52]:
for col in data_cat:
    le = LabelEncoder()
    data_cat[col] = le.fit_transform(pd.to_numeric(data_cat[col], errors='coerce'))

In [24]:
data_cat.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,49,0,0,0,0,0,negative,None,female,Other
1,49,1,0,0,0,0,negative,None,female,Other
2,49,0,1,0,0,0,negative,None,male,Other
3,49,1,0,0,0,0,negative,None,female,Other
4,49,1,0,0,0,0,negative,None,male,Other

In [53]:
y_test

array([['negative'],
       ['negative'],
       ['negative'],
       ...,
       ['negative'],
       ['negative'],
       ['positive']], dtype=object)